#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#监控 haproxy 运行状况端口
listen admin_status
    bind 0.0.0.0:48800
	stats uri /admin-status
	stats auth admin:admin

#监控 mycat 服务端口
listen allmycat_service
    bind 0.0.0.0:8096
	mode tcp
	option tcplog
	option httpchk OPTIONS * HTTP/1.1\r\nHost:\ www
	balance roundrobin
	server mycat_128 192.168.194.128:8066 check port 48700 inter 5s rise 2 fall 3
	server mycat_131 192.168.194.131:8066 check port 48700 inter 5s rise 2 fall 3
	
#监控 mycat 管理端口
listen allmycat_admin
    bind 0.0.0.0:8097
	mode tcp
	option tcplog
	option httpchk OPTIONS * HTTP/1.1\r\nHost:\ www
	balance roundrobin
	server mycat_128 192.168.194.128:9066 check port 48700 inter 5s rise 2 fall 3
	server mycat_131 192.168.194.131:9066 check port 48700 inter 5s rise 2 fall 3
